html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
main {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    flex-direction: column;
    padding: 5px;
}
main > section {
    width:180px;
}

section.am {
    text-align: right;
    padding-right: 30px;
}
section.hour-minutes {
    display: flex;
}
section.stps {
    display: flex;
}
section.stps .mount, section.stps .steps {
    width:60px;
}
section.stps .mount {
    text-align: center;
}
section.hour {
    width:120px;
    font-size:6rem;
    line-height: 60px;
    
}

section.minutes-date-kcal section.minute {
    font-size: 2.6rem;
}
section.minutes-date-kcal  {
    font-size: 0.7rem;
}

